@model day1.Models.Products

@{
    ViewBag.Title = "showDetails";
}

<h2>showDetails</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>  
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewsCounter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewsCounter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <div id="qty">@Model.Quantity</div>

    </dl>
</div>
<button id="buy"> buy</button>
<div id="rev">
        Reviews  :
        @foreach (var i in @Model.Reviews)
        {
            <li> someOne : @i.ReviewDetails </li>
        }
</div>
<input type="hidden" id="id" value="@Model.Id" />
name  :<input id="name" type="text" />
review:<input id="newRev" type="text" />
<button id="btnAddRev">Add review</button>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        //create proxy
        var proxy = $.connection.commentHub;
        $.connection.hub.start().done(
            function () {
                console.log("Connected");
                //press RPC from server
                $("#btnAddRev").click(function () {
                    console.log("clicked");
                    var name = $("#name").val();
                    var msg = $("#newRev").val();
                    var id = $("#id").val();

                    //Cll server function
                    proxy.server.newMessage(name, msg, id);
                    console.log(name+msg+id);
                });

            });
        proxy.client.NotifyNewMessage = function (n, m, i) {
            console.log(i + " " + $("#id").val())
                   if (i == $("#id").val())
                   {
                       $("#rev").append("<li>" + n + ":" + m + "</li>");
                   }
        }
    </script>

      <script>
          //create proxy
          var proxy2 = $.connection.quantityHub;
          $.connection.hub.start().done(
              function () {
                  console.log("Connected");
                  //press RPC from server
                  $("#buy").click(function () {

                      console.log("bought");
                     
                      var id = $("#id").val();

                      //Cll server function
                      proxy2.server.boughtProduct(id);
                  });
              });
          proxy2.client.notifyBoughtProduct = function (newqty) {
              $("#qty").html(newqty);
          }
      </script>

}