
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Role", "New", "Role")</li>

                }


                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("SignOut", "Signout", "Account")</li>

                }
                else
                {
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("new Account", "Registration", "Account")</li>
                }
            </ul>
        </div>
    </div>
</div>
